{% extends 'base.html' %}
{% load title %}

{% block title %}{% title 'Online presence' %}{% endblock %}

{% block header %}
  <h1>Online presence</h1>
  <p>Get in contact with me</p>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Contact methods</h1>
  </div>
  <p>Below is a list of services where you can find me:</p>
  <ul class="list-unstyled">
    <li><i class="fa fa-envelope fa-fw"></i> E-mail: <a href="mailto:daniel@jonsson.xyz">daniel@jonsson.xyz</a></li>
    <li><i class="fa fa-github-alt fa-fw"></i> Github: <a href="https://github.com/MaTachi">MaTachi</a></li>
    <li><i class="fa fa-linkedin fa-fw"></i> LinkedIn: <a href="https://linkedin.com/in/dnljnssn">linkedin.com/in/dnljnssn</a></li>
    <li><i class="fa fa-twitter fa-fw"></i> Twitter: <a href="https://twitter.com/DanielJonss">@DanielJonss</a></li>
  </ul>
{% endblock %}
