{% extends 'base.html' %}
{% load title %}

{% block title %}{% title 'Online presence' %}{% endblock %}

{% block header %}
  <h1>Online presence</h1>
  <p>Different TCP/IP applications where you can find and/or contact me</p>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>HTTP</h1>
  </div>
  <p>Below is a list of some sites you can find me on:</p>
  <ul class="list-unstyled">
    <li><i class="fa fa-twitter fa-fw"></i> Twitter: <a href="https://twitter.com/DanielJonss">@DanielJonss</a></li>
    <li><i class="fa fa-github-alt fa-fw"></i> Github: <a href="https://github.com/MaTachi">MaTachi</a></li>
    <li><i class="fa fa-reddit fa-fw"></i> Reddit: <a href="https://www.reddit.com/user/MaTachi/">MaTachi</a></li>
    <li><i class="fa fa-tumblr fa-fw"></i> Tumblr: <a href="http://matachi.tumblr.com/">matachi.tumblr.com</a></li>
    <li><i class="fa fa-flickr fa-fw"></i> Flickr favorites: <a href="http://www.flickr.com/photos/81272265@N04/favorites/">flickr.com/photos/81272265@N04/favorites/</a></li>
  </ul>
  <div class="page-header">
    <h1>SMTP</h1>
  </div>
  <p>For you who like legacy e-mail:</p>
  <ul class="list-unstyled">
    <li><i class="fa fa-envelope fa-fw"></i> E-mail: <a href="mailto:dannie92@gmail.com">dannie92@gmail.com</a></li>
  </ul>
{% endblock %}
