{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}MaTachi.se{% endblock %}</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block head_extra %}{% endblock %}
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-lg-3">
      <header class="box-wrapper">
        <div class="box">
          <div class="brand secondary-box">
            <h1 class="visible-md visible-lg">MaTachi.se</h1>
            <h2 class="visible-xs visible-sm">MaTachi.se</h2>
            <h5 class="tagline">Personal projects and thoughts</h5>
          </div>
          <ul class="nav nav-pills nav-stacked hidden-xs">
            <li{% if page == 'about' %} class="active"{% endif %}><a href="#">about</a></li>
            <li{% if page == 'contact' %} class="active"{% endif %}><a href="{% url 'contact' %}">contact</a></li>
            <li{% if page == 'blog' %} class="active"{% endif %}><a href="{% url 'blog:posts' %}">blog</a></li>
          </ul>
          <ul class="nav nav-pills visible-xs">
            <li{% if page == 'about' %} class="active"{% endif %}><a href="#">about</a></li>
            <li{% if page == 'contact' %} class="active"{% endif %}><a href="{%  url 'contact' %} %}">contact</a></li>
            <li{% if page == 'blog' %} class="active"{% endif %}><a href="{%  url 'blog:posts' %}">blog</a></li>
          </ul>
        </div>
      </header>
    </div>
    <div class="col-sm-8 col-lg-9">
      <div class="box-wrapper">
        <div class="box">
          {% block breadcrumb %}
            <ol class="breadcrumb">
              <li class="active">Home</li>
            </ol>
          {% endblock %}
          <div class="extra-padding">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="row">
    <div class="col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
      <div class="box-wrapper">
        <div class="box-extra-padded">
          <h3>MaTachi.se</h3>
          <p>Copyright © 2013-2014 Daniel Jonsson.</p>
          <p>All content is licensed under Creative Commons Attribution 4.0 International.</p>
          <p>Theme from Bootswatch. Icons from Font Awesome. Font from Google.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block body_extra %}{% endblock %}
</body>
</html>
