{% extends 'base.html' %}
{% load staticfiles %}
{% load title %}
{% load breadcrumb %}

{% block title %}{% title 'Blog' %}{% endblock %}

{% block breadcrumb %}{% breadcrumb 'Home' 'index' 'Blog' %}{% endblock %}

{% block content %}
  {% for post in object_list %}
    {% include 'blog/single.html' with header_link=True %}
  {% endfor %}
{% endblock %}

{% block body_extra %}
  <script type="text/javascript" src="//panzi.github.io/SocialSharePrivacy/javascripts/jquery.cookies.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $.fn.socialSharePrivacy.settings.order = ['twitter', 'facebook', 'pinterest', 'tumblr'];
    });
  </script>
  <script src="{% static 'socialshareprivacy/javascripts/jquery.socialshareprivacy.min.autoload.js' %}"></script>
{% endblock %}
