{% extends 'base.html' %}
{% load staticfiles title breadcrumb %}

{% block title %}{% title 'Blog' %}{% endblock %}

{% block breadcrumb %}{% breadcrumb 'Home' 'index' 'Blog' %}{% endblock %}

{% block header %}
  <h1>Blog</h1>
  <p>Read my thoughts, encoded in UTF-8<br><a href="{% url 'blog:feed-rss' %}"><i class="fa fa-rss"></i> RSS 2.0 feed</a>, <a href="{% url 'blog:feed-atom' %}"><i class="fa fa-rss"></i> Atom 1.0 feed</a></p>
{% endblock %}

{% block content %}
  {% for post in object_list %}
    {% include 'blog/single.html' with header_link=True %}
  {% endfor %}
{% endblock %}

{% block body_extra %}
  <script type="text/javascript" src="{% static 'js/hydra.blog.min.js' %}"></script>
{% endblock %}
